<nav>
    <ul>
        <li class="dropdown">
            <a href="/" class="dropbtn">Reservations</a>
            <div class="dropdown-content">
                <a href="#">Dropdown</a>
                <a href="#">menu</a>
                <a href="#">####</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="/" class="dropbtn">Rooms</a>
            <div class="dropdown-content">
                <a href="#">Dropdown</a>
                <a href="#">menu</a>
                <a href="#">####</a>
            </div>
        </li>

    </ul>
</nav>