{% extends 'base.html' %}

{% block content %}
    <div>
        <table>
            {% for object in object_list %}
                <tr>
                    <td>{{ object.id }}</td>
                    <td>{{ object.room }}</td>
                    <td>{{ object.comment }}</td>
                    <td>{{ object.date }}</td>
                    <td><a href="/reservation/delete/{{ object.id }}">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
        <input type="button" onclick="location.href='{% url 'reservation-create-view' %}'" value="Add reservation">
        <input type="button" onclick="location.href='{% url 'room-list-view' %}'" value="Back to Room List">
    </div>
{% endblock %}