{% extends 'base.html' %}

{% block content %}
    <div>
        <table>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th></th>
                <th></th>
                <th>Capacity</th>
                <th>Projector</th>
                <th>Active</th>
            </tr>
            {% for object in object_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'room-detail-view' object.id %}"></a></td>
                    <td><a href="{% url 'room-update-view' object.id %}"></a></td>
                    <td><a href="{% url 'room-delete-view' object.id %}"></a></td>
                    <td>{{ object.capacity }}</td>
                    <td>
                        {% if object.pojector_is_available %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    <td>
                        {% if object.is_active %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <input type="button" onclick="location.href='{% url 'room-create-view' %}'" value="Add room">
        <input type="button" onclick="location.href='{% url 'reservation-list-view' %}'" value="Check reservations">
    </div>
{#    <a href="{% url 'search-view' %}">Search</a>#}
{% endblock %}
